name: Publish Docker image
on:
  push:
    branches:
    - main
jobs:
  push_to_registry:
    name: Push Docker image to GHCR
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - name: Push to GHCR
        uses: docker/build-push-action@v1
        with:
          username: public
          password: ${{ secrets.GH_CR_PAT }}
          registry: ghcr.io
          repository: pangolingaming/pangobot
          tags: latest
          tag_with_sha: true

  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: push_to_registry

    steps:
    - name: Setup gcloud
      uses: google-github-actions/setup-gcloud@master
      with:
        version: '290.0.1'
        service_account_key: ${{ secrets.GCP_SA_KEY }}
        project_id: ${{ secrets.GCP_PROJECT }}
        export_default_credentials: true

    - run: |-
        gcloud --quiet auth configure-docker

    - name: Deploy
      run: |-
        gcloud compute instances delete pangobot --zone us-central1-a
        gcloud beta compute
          --project=pangolingaming
          instances create-with-container pangobot
          --zone=us-central1-a
          --machine-type=f1-micro
          --subnet=default
          --network-tier=PREMIUM
          --metadata=google-logging-enabled=true
          --maintenance-policy=MIGRATE
          --service-account=612402742458-compute@developer.gserviceaccount.com
          --scopes=https://www.googleapis.com/auth/devstorage.read_only,https://www.googleapis.com/auth/logging.write,https://www.googleapis.com/auth/monitoring.write,https://www.googleapis.com/auth/servicecontrol,https://www.googleapis.com/auth/service.management.readonly,https://www.googleapis.com/auth/trace.append
          --image=cos-stable-85-13310-1209-10
          --image-project=cos-cloud
          --boot-disk-size=10GB
          --boot-disk-type=pd-balanced
          --boot-disk-device-name=pangobot
          --no-shielded-secure-boot
          --shielded-vtpm
          --shielded-integrity-monitoring
          --container-image=ghcr.io/pangolingaming/pangobot:latest
          --container-restart-policy=always
          --container-env=DISCORD_TOKEN=${{ secrets.DISCORD_TOKEN }}
          --labels=container-vm=cos-stable-85-13310-1209-10
          --reservation-affinity=any
